<header>
    <section>
        <h1>{%- if page.heading -%}{{ page.heading }}{%- else -%}{{ page.title }}{%- endif -%}</h1>
        {%- if page.tagline -%}
        <p class="tagline">{{ page.tagline }}</p>
        {%- endif -%}
    </section>
    {%- if page.category -%}
        <section class="indicators">
            {%- if page.level -%}
            {%- include level.html num=page.level -%}
            {%- endif -%}
            <div class="badge">{{ page.category }}</div>
        </section>
    {%- endif -%}
</header>
